* {
	font-size: 11px;
}

.header {
	border-bottom: 2px solid #000;
}

.body {
	font-size: 11px;
}

.table {
	font-size: 11px;
	width: 100%;
}

.table thead tr td {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 12px;
	border-bottom: 1px solid black;
}

.table tfoot tr td {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 12px;
	border-top: 1px solid black;
}

.table-footer {
	border: 2px solid #000;
}